@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@500&display=swap');


body{
    margin: 0;
    background: #0d1117;
    font-family: 'Open Sans', sans-serif;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.errorcode{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 200px;
    line-height: 70%;
}
.errorname{
    color: rgb(95, 194, 161);
    font-size: 60px;
    letter-spacing: 58px;
    text-indent: 58px;
    font-weight: bold;
    text-align: center;
}
.button{
    margin-top: 50px;
    text-align: center;
    color: #0d1117;
    background: white;
    border-radius: 25px;
    display: inline-block;
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.button:hover{
    border-radius: 10px;
}