.bac0{
    background: linear-gradient(0.25turn, #de6262 , #ffb88c);
}

.bac1{
    background: linear-gradient(0.25turn, #dd5e89  , #f7bb97);
}

.bac2{
    background: linear-gradient(0.25turn, #614385  , #516395);
}

.bac3{
    background: linear-gradient(0.25turn, #eacda3  , #d6ae7b);
}

.bac4{
    background: linear-gradient(0.25turn, #141e30  , #243b55);
}

.bac5{
    background: linear-gradient(0.25turn, #ffdcda  , #faaca8);
}

.bac6{
    background: linear-gradient(0.25turn, #2b5876  , #4e4376);
}

.bac7{
    background: linear-gradient(0.25turn, #ffd89b   , #19547b);
}

.bac8{
    background: linear-gradient(0.25turn, #4ca1af  , #c4e0e5);
}







